* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family:  $fontFamily;
  font-size:$font;
  background-color: $colorLight;
}

header {
  height: $headerHeight;
  background-color: $colorDark;
  .header-container {
    width: $containerWidth;
    margin: auto;
    line-height:$headerHeight;
    img {
      width: 4%;
      vertical-align: middle;
    }
}
select {
  float: right;
  margin: 15px;
  background-color: $colorDark;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #1ED760;
  color: #fff;
}
}
