// Fonts
$fontFamily: 'Roboto', sans-serif;
$font: 14px;
$fontH3 : $font*1.2;
// Size
$headerHeight: 60px;
$containerWidth: 80%;
// Colors
$colorDark: #000;
$colorLight:  lighten($colorDark, 10);
